<app-header />
<main class="w-[90%] max-w-4xl mx-auto my-0 grid grid-cols-[1fr_2fr] gap-8">
  <ul class="flex flex-col gap-2">
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" [selected]="selectedUser?.id === user.id" (select)="onSelectUser($event)" />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [selectedUserName]="selectedUser.name" [selectedUserId]="selectedUser.id" />
  } @else {
  <h2 class="text-3xl font-medium">Selecione um usuário</h2>
  }
</main>
