<li>
  <app-card>
    <article class="bg-[#bf9ee5] px-4 py-8 text-[#25113d]">
      <h2 class="text-balance text-xl font-semibold">{{ taskData().title }}</h2>
      <time class="mb-4 mt-1 block text-right text-base text-[#3c2c50]">{{
        taskData().dueDate | date: 'dd/MM/yyyy'
      }}</time>
      <p class="mb-8">{{ taskData().summary }}</p>
      <p class="text-right">
        <button
          (click)="onCompleteTask()"
          class="rounde-sm cursor-pointer rounded-md bg-[#380774] px-6 py-2 text-sm text-[#decdf2] shadow-sm transition-all duration-150 ease-linear hover:bg-[#4a0774] hover:shadow-lg active:bg-[#4a0774] active:shadow-lg"
        >
          Concluir tarefa
        </button>
      </p>
    </article>
  </app-card>
</li>
